.idea/*
*/.idea/*
*/*.log
*.log
__pychache__/
*/__pychache__/
*/*/__pychache__/
*/.*.pyc
*.pyc
*/*/*.pyc
*/*.log
*.log
*/checkpoint
models/CNN/pretrained_model
*.xyz
*/*.xyz
*/*/*.xyz
*.txt
*/*.txt
*/*/*.txt
*.ply
*.tmp
pointcloudToMesh/build/CMakeFiles
pointcloudToMesh/example
*.cmake
*/*/*/*.txt
